/* Basic Reset & Normalize Layer (Epic 1) */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, sans-serif;
    background: #ffffff;
    color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 .5rem;
    font-weight: 600;
    line-height: 1.2;
}

p {
    margin: 0 0 1rem;
    line-height: 1.5;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

button {
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}